# NextAuth Config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret

# GitHub OAuth (https://github.com/settings/developers)
GITHUB_ID=your-github-client-id
GITHUB_SECRET=your-github-client-secret

# If you're running behind a proxy (e.g., Ngrok for local testing)
# NEXTAUTH_URL=https://your-ngrok-url.ngrok.io 